extends ../layout

block content
  .page-header
    h3 Add a company
  form.form-horizontal(id='addcompany-form', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-3.control-label(for='name') Company Name
      .col-sm-7
        input.form-control(type='text', name='name', id='name', placeholder='Name', autofocus, required)
    .form-group
      label.col-sm-3.control-label(for='legalname') Legal Name
      .col-sm-7
        input.form-control(type='text', name='legalname', id='legalname', placeholder='Legal Name', autofocus)
    .form-group
      label.col-sm-3.control-label(for='RN') RN Number
      .col-sm-7
        input.form-control(type='text', name='RN', id='RN', placeholder='RN Number', autofocus, required)
    .form-group
      label.col-sm-3.control-label(for='companytype') Company Type
      .col-sm-7
        input.form-control(type='text', name='companytype', id='companytype', placeholder='Company Type', autofocus)
    .form-group
      .col-sm-offset-3.col-sm-7
        button.btn.btn-success(type='submit')
          i.fa.fa-user-plus
          | Add company